<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="33690VenelinPetrov.JobOrganizer" Publisher="CN=86077964-B0F8-4E46-AA61-262F24A02BBD" Version="1.0.0.3" />
  <Properties>
    <DisplayName>Job Organizer</DisplayName>
    <PublisherDisplayName>Venelin Petrov</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="JobOrganizer.App">
      <VisualElements DisplayName="Job Organizer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="JobOrganizer" ForegroundText="light" BackgroundColor="#8EE65C">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.printTaskSettings" />
      </Extensions>
    </Application>
  </Applications>
</Package>